<h1 class="fw-lighter text-center">Log in</h1>

<div class="col-md-6 col-md-offset-3 mx-auto">
    <%= form_with scope: :session, url:login_path do |f| %>
    
      <%= f.label :email, class: "col-sm-3 control-label" %>
      <%= f.email_field :email, class: "form-control mb-4", placeholder:"name@example.co.jp"%>
   
      <%= f.label :password, class: "col-sm-3 control-label" %>
      <%= f.password_field :password,  class: "form-control mb-4", placeholder:"password"%>

      <%= f.submit "ログインする", class: 'btn btn-primary d-grid gap-2 col-6 mx-auto'%>
    <% end %>

    <%= link_to "トップページに戻る", static_pages_home_path, class: 'btn btn-success d-grid gap-2 col-6 mx-auto mt-4'%>

    <p class= "mt-5 text-center">ユーザー登録が済んでいない方は <%= link_to "こちらから", 'users/new' %></p>
  </div>
</div>