<h1 class="fw-lighter text-center">To Do list</h1>

<div class="mx-auto mt-4 row" style="width: 200px;">
  <%= form_with url: @current_user, method: :get do %>
  <%= select_tag "status", options_for_select(Task.statuses_i18n.invert, selected: params[:status]), class: 'col-sm-3 form-control' %>
  <%= submit_tag "検索", class: "btn btn-primary btn-block mt-2" %>
  <% end %>
</div>

<table class="mx-auto mt-4">
  <thead>
    <th class="fw-lighter text-center">title</th>
    <th class="fw-lighter text-center">content</th>
    <th class="fw-lighter text-center">status</th>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.status_i18n %></td>
        <td><%= link_to '編集する', edit_task_path(task), class:"btn btn-info" %></td>
        <td><%= button_to '削除する', task_path(task), { method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } }, class:"btn btn-primary" }  %></td>
      </tr>
    <% end %> 
  </tbody>
</table>

<div class="mx-auto mt-4" style="width: 200px;">
  <%= link_to 'To Doを追加しましょう', new_task_path, class:"btn btn-primary " %>
</div>