<!DOCTYPE html>
<html>
  <head>
    <title>TsukasaRailsTodoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <a class="navbar-brand">TsukasaRailsTodoApp</a>
        <form class="d-flex">
          <%= link_to "Log in", '/login', method: :get, class: "btn btn-outline-primary"%>
        </form>
      </div>
    </nav>
  <%= yield %>
  </body>
</html>